@media (max-width: 1200px) {
  header .container {
    flex-direction: column;
    align-items: center;
  }

  .header-text {
    width: 80%;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
  }

  header h1 {
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 2.5em;
  }

  header p {
    margin-bottom: 30px;
    font-size: 1em;
  }

  header button {
    margin-bottom: 50px;
  }

  .header-img {
    position: relative;
    top: auto;
    right: auto;
    transform: translateY(0);
    z-index: 1;
    width: 100%;
  }

  .header-img img {
    height: auto;
    max-width: 100%;
  }
}
@media (max-width: 750px) {
  .do-img .card {
    margin-bottom: 1.5rem;
  }

  .container-about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-us-section img {
    width: 100% !important;
  }

  .posts-card .card {
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 450px) {
  .gallary-contant ul {
    display: flex;
    flex-direction: column !important;
  }
}
